openapi: 3.0.1
info:
  title: Palomma API
  version: ''
paths:
  /payment-requests:
    post:
      operationId: paymentRequest_post
      tags:
        - PaymentRequest
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentRequestResponse'
              examples:
                Example1:
                  value:
                    id: transaction123
                    payment_url: https://palomma.com/payment-url
        '401':
          description: ''
      summary: Create a Payment Request to generate a payment link.
      security: &ref_0
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_cents:
                  type: integer
                  example: 1500
                description:
                  type: string
                redirect_url:
                  type: string
                  description: Redirect url
                  example: https://palomma.com/redirect
              required:
                - amount_cents
                - redirect_url
            examples:
              Example1:
                value:
                  amount_cents: 1500
                  description: Pay subscription
                  redirect_url: https://palomma.com/redirect
              Example2:
                value:
                  amount_cents: 1500
                  description: Pay subscription
                  redirect_url: https://palomma.com/redirect
  /payment-requests/{transactionId}:
    get:
      operationId: paymentRequest_get
      tags:
        - PaymentRequest
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
          examples:
            Example1:
              value: transaction123
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequest'
              examples:
                Example1:
                  value:
                    id: transaction123
                    status: PENDING
                    amount_cents: 1500
                    description: Pay subscription
        '401':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
      summary: Get the metadata, including status, for an existing Payment Request.
      security: *ref_0
components:
  schemas:
    TransactionId:
      type: string
    CreatePaymentRequestResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TransactionId'
        payment_url:
          type: string
          example: https://palomma.com/payment-url
      required:
        - id
        - payment_url
    PaymentRequest:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TransactionId'
        status:
          type: string
          example: PENDING
        amount_cents:
          type: integer
          example: 1500
        description:
          type: string
      required:
        - id
        - status
        - amount_cents
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
servers:
  - url: https://api.pay.palomma.com/
    description: Production
  - url: https://api.sandbox-pay.palomma.com/
    description: Sandbox
