openapi: 3.0.1
info:
  title: Paloma API
  version: ''
paths:
  /payment-request:
    post:
      operationId: merchantTransaction_create
      tags:
        - MerchantTransaction
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMerchantTransactionResponse'
              examples:
                Example1:
                  value:
                    id: transaction123
                    payment_url: https://palomma.com/payment-url
        '401':
          description: ''
      summary: Create a Transaction
      security: &ref_0
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_cents:
                  type: integer
                  example: 1500
                description:
                  type: string
                redirect_url:
                  type: string
                  example: https://palomma.com/redirect
              required:
                - amount_cents
                - redirect_url
            examples:
              Example1:
                value:
                  amount_cents: 1500
                  description: Pay subscription
                  redirect_url: https://palomma.com/redirect
              Example2:
                value:
                  amount_cents: 1500
                  description: Pay subscription
                  redirect_url: https://palomma.com/redirect
  /payment-request/{transactionId}:
    get:
      operationId: merchantTransaction_get
      tags:
        - MerchantTransaction
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
          examples:
            Example1:
              value: transaction123
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantTransactionResponse'
              examples:
                Example1:
                  value:
                    data:
                      id: transaction123
                      status: PENDING
                      amount_cents: 1500
                      description: Pay subscription
                    signature: signature
        '401':
          description: ''
        '403':
          description: ''
      summary: Get a Transaction
      security: *ref_0
components:
  schemas:
    TransactionId:
      type: string
    CreateMerchantTransactionResponse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TransactionId'
        payment_url:
          type: string
          example: https://palomma.com/payment-url
      required:
        - id
        - payment_url
    GetMerchantTransactionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MerchantTransaction'
        signature:
          type: string
          example: signature
      required:
        - data
        - signature
    MerchantTransaction:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TransactionId'
        status:
          type: string
        amount_cents:
          type: integer
        description:
          type: string
      required:
        - id
        - status
        - amount_cents
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
servers:
  - url: https://api.pay.palomma.com/
    description: Production
